body {
    background: #FFFFFF;
    font-size: 18px;
  }
  
  p {
    line-height: 1.5;
  }
  
  .block {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .card-block .card-image .block__image{
    position: relative;
    top: 300px;
  }